body {
  padding-top: 50px;
  background: rgb(112, 155, 214);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.top-mar-20
{
  margin-top: 20px;
}

.top-mar-50
{
  margin-top: 50px;
}

.jumbotron
{
  background: rgb(158, 179, 189);
}

.new-color
{
  background: rgb(49, 153, 106);
}
