body {
  margin: 0;
  background: rgb(30, 28, 40);
}
#navbar {
  font-family: 'Orbitron';
  word-spacing: 10px;
  margin: 0 36% 0 36%;
  padding:5px 0 8px 0;
  background-color: rgb(73, 75, 83);
  font-size: 3em;
  color: rgb(201, 202, 229);
  text-align: center;
}
#label {
  font-family: 'Gloria Hallelujah';
  color: rgb(147, 155, 190);
  font-size: 2.5em;
  width: 100%;
  text-align: center;
}

.btn {
  font-size: 1.7em;
  user-select: none;
  color: white;
  background-color: rgb(130, 144, 193);
  transition: all 0.15s ease;
  text-align: center;
  margin: 0 40% 25px 40%;
  padding: 15px 10px 15px 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(71, 83, 123);
  color: rgb(232, 232, 232);
  box-shadow: inset 0 0 0 3px rgb(62, 66, 81);
}

#newNote-modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 1;
  padding-top: 100px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#newNote-modal #newNote-modal-content {
  font-size: 1.5em;
  background-color: rgba(122, 134, 153, 0.91);
  color: whitesmoke;
  position: relative;
  width: 40%;
  margin: auto;
  height: 200px;
  padding: 0;
  animation-duration: 0.15s;
} @keyframes modal-open-animation {
  from {
    top: -300px;
  }
  to {
    top: 0;
  }
} @keyframes modal-close-animation {
  from {
    top: 0;
  }
  to {
    top: -300px;
  }
}
#newNote-modal #newNote-modal-content #modal-lable-title{
  font-family: 'Chivo';
}
#newNote-modal #newNote-modal-content #modal-lable-note{
  font-family: 'Metrophobic';
}
#newNote-modal #newNote-modal-content #title-input{
  font-family: 'Chivo';
  font-size: 1em;
  margin-bottom: 20px;
}
#newNote-modal #newNote-modal-content #note-input{
  font-family: 'Metrophobic';
  font-size: 0.8em;
  min-width: 250px;
}
#newNote-modal #newNote-modal-content #save-btn {
  font-size: 1.4em;
  margin-top: 10px;
  padding: 0;
}
.seperator {
  background-color: #983F3F;
  margin: 0 20% 0 20%;
  height: 1px;
}
.notes-container {
  margin: 0 20px 0 20px;
  padding: 10px 0 10px 0;
}
.notes-container .note {
  float: left;
  background-color: rgb(58, 60, 83);
  margin: 8px 8px 11px 8px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  min-width: 200px;
  max-width: 500px;
  box-shadow: 0px 5px 10px rgb(190, 197, 221);
  border-radius: 0 0 5px 5px;
}
.notes-container .note .note-title {
  font-family: 'Chivo';
  color: rgb(197, 198, 231);
  background-color: #4B6B77;
  border-radius: 2px 2px 8px 8px;
  font-size: 1.7em;
}
.notes-container .note .note-text {
  font-family: 'Metrophobic';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
.notes-container .note  .edit-btn {
  font-size: 1em;
  padding: 2px 0 2px 0;
  margin: 5px auto 5px auto;
  width: 40%;
}
#toast {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  background-color: rgb(195, 44, 44);
  padding-top: 5px;
  margin: auto;
  max-width: 400px;
  min-width: 300px;
  width: 50%;
  height: 35px;
  border-radius: 3px;
  font-family: 'Chivo';
  font-size: 1.5em;
  text-align: center;
  transition: all 1s ease;
  animation-duration: 0.5s;
  box-shadow: 0 0 5px 2px white;
} @keyframes toast-show-animation {
  from {
    bottom: -80px;
    opacity: 0;
    box-shadow: 0 0 0px 0px white;
  }
  to {
    bottom: 15px;
    opacity: 1;
    box-shadow: 0 0 5px 2px white;
  }
}

@media only screen and (max-width: 1084px) {
  #navbar {
    margin: 0 13% 0 13%;
    font-size: 2em;
  }
  #label {
    font-size: 1.8em;
  }
  #addNewNote-btn {
    font-size: 1.4em;
    margin: 0 25% 15px 25%;
    padding: 10px 0 10px 0;
  }
  #newNote-modal #newNote-modal-content {
    font-size: 1.1em;
    width: 80%;
  }
  #newNote-modal #newNote-modal-content #save-btn{
    font-size: 1.4em;
    margin: auto;
    margin-top: 20px;
    width: 30%;
  }
  .seperator {
    margin: 0 10% 0 10%;
  }
  .notes-container {
    margin: 0 5px 0 5px;
  }
}
